body{
    font-family: 'Questrial', sans-serif;
    width:100%;
     height:100%;
    font-family: "Poppings", sans-serif;
    color: #222;
    background: url("img/big-city-building-buildings-city.jpg") ;
    background-blend-mode: multiply;
    background-color: rgb(81, 99, 105);
    color:rgba(255, 255, 255, 0.7);
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.cont-down{
    margin-top: 9%;
    h2:hover{
        color: blanchedalmond;
        cursor:pointer;
    }
}

.contact{
    color: blanchedalmond;
    font-size: 2em;
}

.contact:hover{
    color: rgb(248, 217, 167);
    font-size: 2em;
}

.txt-main{
    font-family: 'Montserrat', sans-serif;
    margin-top: 13%;
    margin-left: 5%;
    h3{
        font-size: 2.7em;
    }
    p{
        margin-top: 4%;
        font-size: 2.5em;
    }
    h3:hover{
        color: blanchedalmond;
        cursor:pointer;
    }
    
    p:hover{
        color: blanchedalmond;
        cursor: pointer;
    }
}

.fa-facebook{
    color: #3b5998;
}

.fa-instagram{
    color: #517fa4;
}

.fa-twitter{
    color: #00aced;
}

.fa-youtube{
    color: #bb0000;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-youtube:hover{
    color: #ccc;
}

.social a{
    font-size: 4em;
    padding: 20px;
}

footer{
    background-color: #3f3f3f;
    padding-top: 50px;
    border-top: 4px solid silver;
    color: white;
}
